RewriteEngine On
RewriteCond %{REQUEST_URI} "/images/"
RewriteRule (.*) $1 [L]
RewriteCond %{REQUEST_URI} "/css/"
RewriteRule (.*) $1 [L]
RewriteCond %{REQUEST_URI} "/js/"
RewriteRule (.*) $1 [L]

RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/(.*)$ index.php?module=$1&action=$2&get_all=$3
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/$ index.php?module=$1&action=$2
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ index.php?module=$1&action=$2

